@import '../../styles/variables.scss';

.language-switcher {
    position: absolute;
    right: 7rem;
    top: 7rem;
    z-index: 1;
    display: flex;
    font-family: 'Hind', Verdana, Geneva, sans-serif;
    font-size: 14rem;
    font-weight: 700;
    text-transform: uppercase;
    &__link {
        margin: 0 5rem;
        &:after {
            content: "|";
            margin-left: 5px;
        }
        &:last-child:before {
            content: "|";
            margin-right: 5px;
        }
        &:first-child:before,
        &:last-child:after {
            display: none;
        }
    }
    &__active-lang {
        display: inline-block;
        vertical-align: middle;
        color: $gainsboro;
        background-color: $dot-color;
        padding: 11rem;
        border-radius: 20rem;
        width: 40rem;
        text-align: center;
    }
}
