$white: #ffffff;
$gainsboro: #d3dbe1;
$wintergreen-dream: #547888;
$dark-slate-gray: #2a4761;
$arsenic: #3d4050;
$eerie-black: #0a171f;

$dodger-blue: #1da1f2;
$charleston-green: #24292e;
$star-command-blue: #0077B5;
$international-orange: #c23a2b;
