@import "resets/normalize.scss";
@import "resets/reset.local.scss";
@import "resets/typography.scss";
@import "variables.scss";

html {
    font-family: sans-serif;
}

body {
    color: $body-font-color;
    background-color: $body-bg-color;
    background-image: url($paperPattern);
    background-repeat: repeat;
    background-position: top left;
}

a {
    color: $body-links-color;
    &:hover {
        text-decoration: none;
    }
}

main {
    width: 80%;
    max-width: 960px;
    min-height: 150px;
    padding: 50rem; //50px;
    margin: 0px auto 30rem auto;
    border-radius: 3px;
    box-shadow: 0 0 0 0, 0 6px 12px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    background-color: #fff;

    @media (max-width: 48.75rem) { //780px
        width: 90%;
        padding: 25rem;// 25px;
    }
}

.column {
    &.column--left {
        text-align: right;
    }
    &.column--right {
        text-align: left;
    }
}

.section {
    margin: 20rem;
    font-size: 15rem;
    &__title {
        font-size: 16rem;
        font-weight: 700;
        letter-spacing: 2rem;
        text-transform: uppercase;
    }
}
