@import "resets/normalize.scss";
@import "resets/reset.local.scss";
@import "resets/typography.scss";
@import "variables.scss";

html {
    font-family: sans-serif;
}

body {
    color: $body-font-color;
    background-color: $body-bg-color;
    background-image: url($paperPattern);
    background-repeat: repeat;
    background-position: top left;
}

a {
    color: $body-links-color;
    &:hover {
        text-decoration: none;
        color: $body-links-hover-color;
    }
}

.page-wrapper{
    position: relative;
    overflow: hidden;
}

main {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 50rem 20rem;
    max-width: 980rem;
    min-height: 150rem;
    margin: 50rem auto;
    border-radius: 5px;
    box-shadow: 0 0 0 0, 0 6px 12px rgba($body-font-color, 0.1);
    word-wrap: break-word;
    background-color: $body-bg-color;

    @media (min-width: 48rem) { //780px = 48.75 x 16
        width: 90%;
        padding: 50rem 25rem;// 25px;
    }

    @media (min-width: 64rem) { //780px = 48.75 x 16
        width: 80%;
        padding: 50rem;// 25px;
    }

    @media print {
        box-shadow: none;
        border: 0;
        border-radius: 0;
        background-color: #fff;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        width: 100%;
    }
}

.briefcase {
    display: none;
    position: absolute;
    top: 50rem;
    left: 50%;
    z-index: 0;
    background-color: $body-font-color;
    background-image: url($paperPattern);
    background-repeat: repeat;
    background-position: top left;
    width: 80%;
    max-width: 980rem;
    height: calc(100% - 100rem);
    min-height: 150rem;
    margin-left: -490rem;
    transform: rotate(-5deg);
    border-radius: 5px;
    box-shadow: 0 0 0 0, 0 6px 12px rgba($body-font-color, 0.1);

    @media screen and (min-width: 48rem) { //768px
        display: block;
    }

    @media screen and (max-width: 77.5rem) { //1240px
        margin-left: -40%;
    }

    @media print {
        display: none;
    }
}
.row{
    &.main-content{
        @media (max-width: 64rem) { //1024px
            flex-direction: column-reverse;
        }
        @media print {
            flex-direction: row;
        }
    }


    &.repos {
        &:before {
            width: 100%;
            height: 1px;
            background-color: rgba($border-color, 0.25);
            content: "";
        }
    }

}

.column {
    position: relative;
    text-align: left;
    &.column--left {
        position: relative;
        &:after {
            position: absolute;
            left: 5px;
            right: auto;
            top: 20rem;
            width: 1px;
            height: calc(100% - 40rem);
            background-color: rgba($border-color, 0.25);
            content: "";
        }

        @media screen and (min-width: 64rem) { //1024px
            text-align: right;
            &:after {
                left: auto;
                right: 0;
            }
        }

        @media print {
            text-align: right;
            &:after {
                left: auto;
                right: 0;
            }
        }
    }
    &.column--right {
        &:after {
            position: absolute;
            left: 0;
            top: 20rem;
            width: 1px;
            height: calc(100% - 40rem);
            background-color: rgba($border-color, 0.25);
            content: "";
            @media print {
                display: none;
            }
        }
    }

    @media print {
        width: 50%;
        &.column--left .section {
            margin-left: 0;
        }
        &.column--right .section {
            margin-right: 0;
        }
    }
}

.section {
    margin: 20rem;
    font-size: 15rem;
    &__title {
        font-size: 16rem;
        font-weight: 700;
        letter-spacing: 2rem;
        text-transform: uppercase;
        margin-bottom: 15rem;
        color: $section-title-color;
    }
    @media print {
        display: block;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        font-size: 11pt;
        &__title {
            font-size: 12pt;
        }
        /* Hacks for page break - break-inside: avoid doesn't work */
        &.education {
            margin-top: 50px;
        }
        &.contact {
            // margin-top: 85px;
            margin-top: 30px;
        }
    }
}

.hidden {
    display: none;
}

@media print {
    a[href]:after {
        content: " [" attr(href) "] ";
        font-size: 0.8em;
    }
    @page {
        size: A4;
        margin: 1.5cm;
        background: $white;

    }
}



// .debug {
//     font-size: 10rem;
//     bottom: auto;
//     top: 20rem;
// }
