@import "colors.scss";

$paperPattern: '../images/paper.png';

$body-font-color: $eerie-black;
$body-bg-color: $white;
$body-links-color: $dark-slate-gray;
$body-links-hover-color:  $wintergreen-dream;
$border-color: $dark-slate-gray;
$section-title-color: $dark-slate-gray;
$section-subtitle-color: $dark-slate-gray;
$marked-word-color: $dark-slate-gray;

$address-color: $vermilion;
$phone-color: $vivid-cerulean;
$site-zibeline: $sea-serpent;
$twitter-color: $dodger-blue;
$github-color: $charleston-green;
$linkedin-color: $star-command-blue;
$gmail-color: $international-orange;
$date-color: $wintergreen-dream;// $arsenic;
$dot-color: $dark-slate-gray// $wintergreen-dream;
