@import "colors.scss";

$paperPattern: '../images/paper.png';

$body-font-color: $eerie-black;
$body-bg-color: $white;
$body-links-color: $dark-slate-gray;
$border-color: $dark-slate-gray;

$twitter-color: $dodger-blue;
$github-color: $charleston-green;
$linkedin-color: $star-command-blue;
$gmail-color: $international-orange;
