@import '../../styles/variables.scss';

$dot-size: 9px;

.employment {
    margin-bottom: 25rem;
    &:last-child {
        margin-bottom: 0;
    }
    &__company {
        position: relative;
        font-weight: 700;
        margin-top: 5rem;
        margin-bottom: 10rem;
        letter-spacing: 1rem;
        color: $section-subtitle-color;
        &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: -19px;
            right: auto;
            margin-top: floor(($dot-size / 2) * -1);
            width: $dot-size;
            height: $dot-size;
            border-radius: $dot-size;
            background-color: $dot-color;
            content: "";
        }
        @media (min-width: 64rem) { //1024px
            &:after {
                left: auto;
                right: -25px;
            }
        }

        @media print {
            &:after {
                left: auto;
                right: -25px;
            }
        }
    }
    &__date {
        font-size: 13rem;
        margin-bottom: 5px;
        color: $date-color;
    }
    &__position {
        font-size: 14rem;
        font-style: italic;
        margin-bottom: 5rem;
    }
    @media print {
        order: 1;
        &__company,
        &__date,
        &__position{
            text-align: right;
        }
    }
}
