@import '../../styles/variables.scss';

$dot-size: 9px;

.employment {
    margin-bottom: 25rem;
    &:last-child {
        margin-bottom: 0;
    }
    &__company {
        position: relative;
        font-weight: 700;
        margin-top: 5rem;
        margin-bottom: 10rem;
        letter-spacing: 1rem;
        &:after {
            display: block;
            position: absolute;
            top: 50%;
            right: -25px;
            margin-top: floor(($dot-size / 2) * -1);
            width: $dot-size;
            height: $dot-size;
            border-radius: $dot-size;
            background-color: $border-color;
            content: "";
        }
    }
    &__date {
        font-size: 13rem;
        margin-bottom: 5px;
    }
    &__position {
        font-size: 14rem;
        font-style: italic;
        margin-bottom: 5rem;
    }
}
