@import '../../styles/variables.scss';

.skill-group {
    &-name {
        margin-bottom: 5rem;
        font-size: 14rem;
        text-transform: uppercase;
        text-decoration: underline;
        color: $section-subtitle-color;
    }
    &-list {
        margin-bottom: 15rem;
        &__item {
            display: inline-block;
            margin-right: 5rem;
            font-size: 14rem;
            &--marked {
                font-weight: 700;
                font-size: 16rem;
                color: $marked-word-color;
            }
        }
    }
}
