@import '../../styles/variables.scss';

$avatarSize: 150rem;

.hero {
    text-align: center;
    &__title {
        display: inline-block;
        padding: 10rem 40rem;
        margin: 20rem;
        border: 1px solid $border-color;
        font-size: 30rem;
        text-transform: uppercase;
        letter-spacing: 4rem;
    }
    &__subtitle {
        font-size: 14rem;
        text-transform: uppercase;
        letter-spacing: 4rem;
        margin: 10rem;
    }
    &__avatar {
        width: $avatarSize;
        height: $avatarSize;
        margin-top: $avatarSize / 5;
        margin-bottom: $avatarSize / 5 + 10rem;
        // border: $avatarSize / 10 solid $border-color;
        border-radius: $avatarSize;
    }
}




