@import '../../styles/variables.scss';

$dot-size: 9px;

.school {
    margin-bottom: 25rem;
    &:last-child {
        margin-bottom: 0;
    }
    &__name {
        position: relative;
        font-weight: 700;
        margin-top: 5rem;
        margin-bottom: 10rem;
        letter-spacing: 1rem;
        &:after {
            display: block;
            position: absolute;
            top: 50%;
            left: -25px;
            right: auto;
            margin-top: floor(($dot-size / 2) * -1);
            width: $dot-size;
            height: $dot-size;
            border-radius: $dot-size;
            background-color: $border-color;
            content: "";
        }
        @media (min-width: 64rem) { //1024px
            &:after {
                left: auto;
                right: -25px;
            }
        }
    }
    &__date {
        font-size: 13rem;
        margin-bottom: 5px;
    }
    &__field,
    &__spec {
        font-size: 14rem;
        font-style: italic;
        margin-bottom: 5rem;
    }
}
